#loadingScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    display: none;
    pointer-events: none;
}

#loadingScreen {
    width: 10rem;
    transform: translateY(-5rem);
}

#btn {
    display: block;
    margin: 0.5rem auto;
    border: none;
    padding: 0.7rem 1.4rem;
    text-align: center;
    border-radius: 4rem;
    background-color: black;
    color: white;
    font-weight: 600;

    cursor: pointer;
}

#output {
    text-align: center;
}